<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Árbitros</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <div class="container">    
    <a href="/crearArbitro" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>    
  <table class="table table-bordered table-striped text-center mt-4">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de árbitro</th>            
        <th scope="col">País</th>    
        <th scope="col">Acciones</th>           
      </tr>
    </thead>
    <tbody>
      <% resultados.forEach((user)=>{ %>
        <tr>  
            <td><%= user.id %></td>  
            <td><%= user.nombre %></td>
            <td><%= user.rol %></td>
            <td><%= user.pais %></td>
            <td>
              <a href="/editarArbitro/<%= user.id %>" class="btn btn-outline-info"><i class='bx bxs-edit'></i></a>
              <a href="/deleteArbitro/<%= user.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>                   
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
  </div>
   <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>