<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Árbitros</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <div class="container ">    
    <div class="row">
      <div class="col-md-5 offset-md-10 mb-3">
        
    <a href="/crearArbitro" class="btn btn-outline-primary mt-4 fs-2"> Agregar <i class="fas fa-plus-circle"></i></a>  
    </div>  </div>  
  <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de árbitro</th>            
        <th scope="col">País</th>    
        <th scope="col">Acciones</th>           
      </tr>
    </thead>
    <tbody>
      <% resultados.forEach((user)=>{ %>
        <tr>  
            <td><%= user.id %></td>  
            <td><%= user.nombre %></td>
            <td><%= user.rol %></td>
            <td><%= user.pais %></td>
            <td>
              <a href="/editarArbitro/<%= user.id %>" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i></a>
              <a onclick="confirmar('<%= user.id %>','deleteArbitro')" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
  </div>
  <%- include('partials/scripts.ejs') %>
</body>
</html>