<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>Crear Partido</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          >>> Partidos
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo partido</div>
                <div class="card-body">
                    <form action="/savePartido" method="POST">

                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha del partido</label>
                                <input required type="datetime-local" class="form-control" id="fecha" name="fecha" tabindex="1">
                            </div>

                        <label for="codEstadio" class="form-label">Seleccione estadio</label>
                        <select id="codEstadio" name="codEstadio" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <% estadios.forEach((estadio)=>{ %>
                                <option value="<%= estadio.codEstadio %>"><%= estadio.codEstadio %> - <%= estadio.nombreEstadio %></option>
                            <% }) %>
                        </select>
                        <label for="codEquipo1" class="form-label">Nombre de Equipo 1</label>
                        <select id="codEquipo1" name="codEquipo1" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <% equipos.forEach((equipo)=>{ %>
                                <option value="<%= equipo.codEquipo %>"><%= equipo.codEquipo %> - <% paises.forEach((pais)=>{ %>
                                    <% if (equipo.codEquipo == pais.codPais) { %>
                                        <%= pais.nombrePais %>
                                    <% } %>
                               <% }) %> </option>
                            <% }) %>
                        </select>
                        <label for="codEquipo2" class="form-label">Nombre de Equipo 2</label>
                        <select id="codEquipo2" name="codEquipo2" class="form-select" aria-label="Default select example" tabindex="2" required>
                            <% equipos.forEach((equipo)=>{ %>
                                <option value="<%= equipo.codEquipo %>"><%= equipo.codEquipo %> - <% paises.forEach((pais)=>{ %>
                                    <% if (equipo.codEquipo == pais.codPais) { %>
                                        <%= pais.nombrePais %>
                                    <% } %>
                               <% }) %> </option>
                            <% }) %>
                        </select>
                        </select>
                        <!--<label for="arbitros">Seleccion de los arbitros:</label>
                        <select name="arbitros" id="arbitros" multiple>
                        <% arbitros.forEach((arbitro)=> { %>
                        
                        
                        <option value="<%= arbitro.codArbitro %>"><%= arbitro.codArbitro %> - <%= arbitro.nombreArbitro %></option>
                        
                        <% }) %> -->
                    </select>
                        <!--</select>-->
                        <!--<div class="mb-3">
                            <label for="capacidad" class="form-label">Capacidad</label>
                            <input type="text" class="form-control" id="capacidad" name="capacidad" tabindex="1">
                        </div>-->          
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/partidos" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>

</body>
</html>