<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Nuevo Hospedaje</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Hospedaje</div>
                <div class="card-body">
                    <form action="/saveHospedaje" method="POST">
                        <div class="mb-3">
                            <label for="rol" class="form-label">Nombre del Hotel</label>
                            <select id="codHotel" name="codHotel" class="form-select" aria-label="Default select example" tabindex="2" required>
                                <% hoteles.forEach((hotel)=>{ %>
                                    <option value="<%= hotel.codHotel %>"><%= hotel.nombreHotel %></option>
                                <% }) %>
                                </select>
                            </div>  
                        <div class="mb-3">
                            <label for="rol" class="form-label">Equipo a hospedar en el hotel</label>
                            <select id="codEquipo" name="codEquipo" class="form-select" aria-label="Default select example" tabindex="2" required>
                                <% equipos.forEach((equipo)=>{ %>
                                    <option value="<%= equipo.codEquipo %>"><%= equipo.codEquipo %></option>
                                <% }) %>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="rol" class="form-label">Código Partido para la cual se alojarán</label>
                                <select id="codPartido" name="codPartido" class="form-select" aria-label="Default select example" tabindex="2" required>
                                    <% partidos.forEach((partido)=>{ %>
                                        <option value="<%= partido.codPartido %>"><%= partido.codPartido %></option>
                                    <% }) %>
                                    </select>
                                </div>
                        
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/hospedaje" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
      <%- include('partials/scripts.ejs') %>
</body>
</html>