<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Nuevo Árbitro</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Árbitro</div>
                <div class="card-body">
                    <form action="/saveArbitro" method="POST">
                        <div class="mb-3">
                        <label for="name" class="form-label">Nombre del árbitro</label>
                        <input type="text" class="form-control" id="nombreArbitro" name="nombreArbitro" tabindex="1">
                        </div>   
                        <div class="mb-3">
                            <label for="codArbitro" class="form-label">País del árbitro</label>
                            <select id="codPais" name="codPais" class="form-select" aria-label="Default select example" tabindex="2" required>
                                <% paises.forEach((pais)=>{ %>
                                    <option value="<%= pais.codPais %>"><%= pais.nombrePais %></option>
                                <% }) %>
                            </select>
                        </div>
                                                          
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/arbitros" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
      <%- include('partials/scripts.ejs') %>
</body>
</html>