<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Nuevo País</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo País</div>
                <div class="card-body">
                    <form action="/savePais" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">codPais del País (3)</label>
                            <input type="text" placeholder="Escribe un código de 3 caracteres de texto" class="form-control" id="codPais" name="codPais" tabindex="1" maxlength="3">
                            </div> 
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre del País</label>
                            <input type="text" class="form-control" id="nombrePais" name="nombrePais" tabindex="1">
                        </div>  
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Confederación</label>
                            <select id="conf" name="nombreConf" class="form-select" aria-label="Default select example" tabindex="2" required>
                                <% resultados.forEach((conf)=>{ %>
                                    <option value="<%= conf.nombreConf %>"><%= conf.nombreConf %></option>
                                <% }) %>
                                </select>
                        </div>  
                        <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/paises" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
    <section class="home-section">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 mx-auto">
                  <div id="mensajes">
                      <p id="mensaje"></p>
                      <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
                  </div>
              </div>
          </div>
      </div>
  </section>
      <%- include('partials/scripts.ejs') %>
</body>
</html>