<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Nuevo Equipo</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Equipo</div>
                <div class="card-body">
                    <form action="/saveEquipo" method="POST">
                        <div class="mb-3">
                                <label for="nombreEquipo" class="form-label">Nombre de Equipo</label>
                                <select id="codEquipo" name="codEquipo" class="form-select" aria-label="Default select example" tabindex="2" required>
                                    <% paises.forEach((pais)=>{ %>
                                        <option value="<%= pais.codPais %>"><%= pais.nombrePais %></option>
                                    <% }) %>
                                    </select>
                         </div>
                         
                        <div class="mb-3">
                            <label for="director" class="form-label">Director Técnico</label>
                            <input type="text" required class="form-control" id="nombreDT" name="nombreDT" tabindex="1">
                        </div>  
                        <div class="mb-3">
                            <label for="esloganEquipo" class="form-label">Eslogan</label>
                            <input type="text" required class="form-control" id="esloganEquipo" name="esloganEquipo" tabindex="1">
                        </div>  
                       
                     <div class="mb-3">
                            <label for="local" class="form-label">Color Uniforme (Local)</label>
                            <input value="#920920" required type="color" class="form-control" id="local" name="clocal" tabindex="1" />  
                     </div>  
                     <div class="mb-3">
                        <label for="visitante" class="form-label">Color Uniforme (Visitante)</label>
                        <input required type="color" class="form-control" id="visitante" name="cvisitante" tabindex="1" value="#328733">
                     </div> 
                         
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/equipos" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
      <%- include('partials/scripts.ejs') %>
</body>
</html>