<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/main.css">
        <title>Crear Nuevo Estadio</title>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
            </div>
            <div class="container mt-4">
                <div class="card border-secondary">
                    <div class="card-header">Nuevo Estadio</div>
                    <div class="card-body">
                        <form action="/saveEstadios" method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Código del Estadio</label>
                                <input type="text" class="form-control" id="codEstadio" name="codEstadio" tabindex="1">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre del Estadio</label>
                                <input type="text" class="form-control" id="codEstadio" name="codEstadio" tabindex="1">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Ubicación</label>
                                <input type="text" class="form-control" id="ubicacion" name="ubicacion" tabindex="1">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Capacidad</label>
                                <input type="number" step="1" min="1" class="form-control" id="codEstadio" name="codEstadio" tabindex="1">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre de la Ciudad</label>
                                <select id="nombre" name="nombre" class="form-select"
                                    aria-label="Default select example" tabindex="2" required>
                                    
                                    <option value="" disabled selected>Seleccione una ciudad</option>
                                    <% ciudades.forEach((ciudad)=>{ %>
                                        <option value="<%= ciudad.nombre %>">
                                            <%= ciudad.nombre %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                            <a href="/estadios" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mx-auto">
                        <div id="mensajes">
                            <p id="mensaje"></p>
                            <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/scripts.ejs') %>
</body>

</html>