<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Nuevo Árbitro</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Árbitro</div>
                <div class="card-body">
                    <form action="/saveArbitro" method="POST">
                        <div class="mb-3">
                        <label for="name" class="form-label">Nombre del árbitro</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1">
                        </div>   
                        <div class="mb-3">
                        <label for="rol" class="form-label">Rol del árbitro</label>
                        <select id="rol" name="rol" class="form-select" aria-label="Default select example" tabindex="2">
                            <option value="Árbitro Principal" selected>Árbitro Principal </option>
                            <option value="Árbitro Asistente Uno">Árbitro Asistente Uno</option>                    
                            <option value="Árbitro Asistente Dos">Árbitro Asistente Dos</option>                    
                            <option value="Cuarto Árbitro">Cuarto Árbitro</option>                    
                            <option value="Árbitro Var">Árbitro Var</option>                    
                            <option value="Árbitro Asistente Var">Árbitro Asistente Var</option>                    
                        </select>
                        </div>   
                        <div class="mb-3">
                            <label for="rol" class="form-label">País del árbitro</label>
                            <select id="pais" name="pais" class="form-select" aria-label="Default select example" tabindex="2" required>
                                <% paises.forEach((pais)=>{ %>
                                    <option value="<%= pais.nombre %>"><%= pais.nombre %></option>
                                <% }) %>
                                </select>
                            </div>                                 
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/arbitros" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
      <%- include('partials/scripts.ejs') %>
</body>
</html>