<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Crear Nuevo País</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo País</div>
                <div class="card-body">
                    <form action="/savePais" method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label">Siglas del País (3)</label>
                            <input type="text" placeholder="Escribe un código de 3 caracteres de texto" class="form-control" id="siglas" name="siglas" tabindex="1" maxlength="3">
                            </div> 
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre del País</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1">
                        </div>  
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Confederación</label>
                            <select id="conf" name="nombreConf" class="form-select" aria-label="Default select example" tabindex="2" required>
                                <% resultados.forEach((conf)=>{ %>
                                    <option value="<%= conf.nombre %>"><%= conf.nombre %></option>
                                <% }) %>
                                </select>
                        </div>  
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/paises" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
    </section>
      <%- include('partials/scripts.ejs') %>
</body>
</html>