<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>CRUD</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Equipo</div>
                <div class="card-body">
                    <form action="/saveEquipo" method="POST">
                        <div class="mb-3">
                                <label for="nombreEquipo" class="form-label">Nombre de Equipo</label>
                                <select id="pais" name="nombre" class="form-select" aria-label="Default select example" tabindex="2" required>
                                    <% paises.forEach((pais)=>{ %>
                                        <option value="<%= pais.nombre %>"><%= pais.nombre %></option>
                                    <% }) %>
                                    </select>
                         </div>
                        <div class="mb-3">
                            <label for="director" class="form-label">Director Técnico</label>
                            <input type="text" required class="form-control" id="directorT" name="directorT" tabindex="1">
                        </div>  
                        <div class="mb-3">
                            <label for="eslogan" class="form-label">Eslogan</label>
                            <input type="text" required class="form-control" id="eslogan" name="eslogan" tabindex="1">
                        </div>  
                        <div class="mb-3">
                            <label for="confederacion" class="form-label">CodigoPais</label>
                            <select id="codigoEquipo" required name="codigoEquipo" class="form-select" aria-label="Default select example" tabindex="2">
                                <% paises.forEach((pais)=>{ %>
                                    <option required value="<%= pais.codSiglas %>"><%= pais.codSiglas %></option>
                                <% }) %>
                                </select>
                     </div>
                     <!-- <div class="mb-3">
                            <label for="local" class="form-label">Color Uniforme (Local)</label>
                            <input value="#920920" required type="color" class="form-control" id="local" name="local" tabindex="1" />  
                     </div>  
                     <div class="mb-3">
                        <label for="visitante" class="form-label">Color Uniforme (Visitante)</label>
                        <input required type="color" class="form-control" id="visitante" name="visitante" tabindex="1" value="#328733">
                     </div>  -->
                         
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/equipos" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <%- include('partials/scripts.ejs') %>
</body>
</html>