<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Dashboard FIFA</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Dashboard
    </div>
    <div class="container">
        <h1>Dashboard FIFA</h1>
        <div class="row mt-5">
          <a href="/paises">
          <div class="col-4">
            <div class="card shadow-lg" id="paises">
              <div class="card-body">
                <h5 class="card-title">Países</h5>
                <p class="card-text"><%= cantidadPaises %> <i class='bx bx-world'></i></p>
              </div>
            </div>
          </a>
          </div>
          <div class="col-4">
            <a href="/equipos">
            <div class="card shadow-lg" id="equipos" >
              <div class="card-body shadow-lg">
                <h5 class="card-title">Equipos </h5>
                <p class="card-text"><%= cantidadEquipos %> <i class='bx bx-football'></i></p>
              </div>
            </div>
          </a>
          </div>
          <div class="col-4">
            <div class="card shadow-lg" id="jugadores">
              <a href="/jugadores">
              <div class="card-body shadow-lg">
                <h5 class="card-title">Jugadores </h5>
                <p class="card-text"><%= cantidadJugadores %> <i class='bx bxs-user-badge'></i></p>
              </div>
            </a>
            </div>
          </div>
          <div class="col-4 mt-5">
            <a href="/hotel">
            <div class="card shadow-lg" id="hoteles">
              <div class="card-body shadow-lg">
                <h5 class="card-title">Hoteles </h5>
                <p class="card-text"> <%= cantidadHoteles %> <i class='bx bx-building-house' ></i></p>
              </div>
            </div>
          </a>
          </div>
          <div class="col-4 mt-5">
            <a href="/estadios">
            <div class="card shadow-lg" id="estadios">
              <div class="card-body shadow-lg">
                <h5 class="card-title">Estadios </h5>
                <p class="card-text"><%= cantidadEstadios %> <i class='bx bx-sitemap'></i></p>
              </div>
            </div>
          </a>
          </div>
          <div class="col-4 mt-5">
            <a href="/arbitros">
            <div class="card shadow-lg" id="arbitros">
              <div class="card-body shadow-lg">
                <h5 class="card-title">Árbitros </h5>
                <p class="card-text"><%= cantidadArbitros %> <i class='bx bxs-user-rectangle' ></i></p>
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
  </section> 

  <section class="home-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mx-auto  mt-3">
          <div id="mensajes">
  <p id="mensaje"></p>
  <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
</div>
        </div>
      </div>
    </div>
  </section>

  
  <%- include('partials/scripts.ejs') %>
</body>
</html>