<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Editar Continente</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (continentes) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Continente</div>
                <div class="card-body">
                    <form action="/updateContinente" method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" hidden id="id" name="id" tabindex="1" value="<%= continentes.id  %>"> 
                          <label for="nombre" class="form-label">Nombre del Continente</label>
                          <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= continentes.nombre  %>">                        
                        </div> 
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/continentes" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>