<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
    <title>Editar Jugador</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (name) { %>
        <section class="home-section">
          <div class="home-content">
            <i class='bx bx-menu' ></i>
          </div>
        
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Jugador</div>
                <div class="card-body">
                    <form action="/updateJugador" method="POST">
                         <input id="codJugador" name="codJugador" value="<%= name.codJugador %>" hidden>
                        <div class="mb-3">
                          <label for="nombreJugador" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombreJugador" name="nombreJugador" tabindex="1" value="<%= name.nombreJugador  %>">                        
                        </div>   
                        <div class="mb-3">
                            <label for="aliasJugador" class="form-label">Alias</label>
                            <input type="text" class="form-control" id="aliasJugador" name="aliasJugador" tabindex="1" value="<%= name.aliasJugador  %>">                        
                          </div>
                          <div class="mb-3">
                            <label for="aliasJugador" class="form-label">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="fechaNac" name="fechaNac" tabindex="1" value="<%= name.fechaNac  %>">                        
                          </div>
                          <div class="mb-3">
                            <label for="posicionJugador" class="form-label">Posición</label>
                            <input type="text" class="form-control" id="posicionJugador" name="posicionJugador" tabindex="1" value="<%= name.posicionJugador  %>">                        
                          </div>
                          <div class="mb-3">
                            <label for="nroCamisa" class="form-label">Número de Camisa</label>
                            <input type="text" class="form-control" id="nroCamisa" name="nroCamisa" tabindex="1" value="<%= name.nroCamisa  %>">                        
                          </div>
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/jugadores" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
        </section>
      <% } %>
      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>