<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">

    <title>Editar Hotel</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (name) { %>
        <section class="home-section">
            <div class="home-content">
              <i class='bx bx-menu' ></i>
            </div>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Hotel</div>
                <div class="card-body">
                    <form action="/updateHotel" method="POST">
                         <input id="id" name="codHotel" value="<%= name.codHotel %>" hidden>
                         
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre del hotel</label>
                            <input type="text" class="form-control" id="nombreHotel" name="nombreHotel" tabindex="1" value="<%= name.nombreHotel  %>">
                        </div>  
                        <div class="mb-3">
                            <label for="name" class="form-label">Dirección del hotel</label>
                            <textarea type="text" class="form-control" id="direccion" name="direccion" tabindex="1" ><%= name.direccion  %></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/hotel" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
        </section>
      <% } %>
      <%- include('partials/scripts.ejs') %>

</body>
</html>