<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
    <title>Editar Jugador</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (name) { %>
        <section class="home-section">
          <div class="home-content">
            <i class='bx bx-menu' ></i>
          </div>
        
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Jugador</div>
                <div class="card-body">
                    <form action="/updateJugador" method="POST">
                         <input id="codJugador" name="codJugador" value="<%= name.codJugador %>" hidden>
                        <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= name.nombre  %>">                        
                        </div>   
                        <div class="mb-3">
                            <label for="alias" class="form-label">Alias</label>
                            <input type="text" class="form-control" id="alias" name="alias" tabindex="1" value="<%= name.alias  %>">                        
                          </div>
                          <div class="mb-3">
                            <label for="alias" class="form-label">Fecha de Nacimiento</label>
                            <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" tabindex="1" value="<%= name.fecha_nacimiento  %>">                        
                          </div>
                          <div class="mb-3">
                            <label for="posicion" class="form-label">Posición</label>
                            <input type="text" class="form-control" id="posicion" name="posicion" tabindex="1" value="<%= name.posicion  %>">                        
                          </div>
                          <div class="mb-3">
                            <label for="num_camiseta" class="form-label">Número de Camisa</label>
                            <input type="text" class="form-control" id="num_camiseta" name="num_camiseta" tabindex="1" value="<%= name.num_camiseta  %>">                        
                          </div>
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/jugadores" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
        </section>
      <% } %>
      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>