<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Editar Árbitro</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (arbitro) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Árbitro</div>
                <div class="card-body">
                    <form action="/updateArbitro" method="POST">
                         <input id="codArbitro" name="codArbitro" value="<%= arbitro.codArbitro %>" hidden>
                        <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= arbitro.nombre  %>">                        
                        </div>   
                        <div class="mb-3">
                          <label for="rol" class="form-label">Rol</label>
                          <select id="rol" name="rol" class="form-select" tabindex="2">
                            <option <%= arbitro.rol=='Principal' ? "selected" : '' %> value="Principal">Principal</option>
                            <option <%= arbitro.rol=='Asistente Adicional' ? "selected" : '' %> value="Asistente Adicional">Asistente Adicional</option>      
                            <option <%= arbitro.rol=='Asistente Var' ? "selected" : '' %> value="Asistente Var">Asistente Var</option>
                            <option <%= arbitro.rol=='Asistente Lateral' ? "selected" : '' %> value="Asistente Lateral">Asistente Lateral</option>                      
                          </select>
                        </div>   
                        
                        <div class="mb-3">
                            <label for="pais" class="form-label">País</label>
                            <select id="pais" name="pais" class="form-select" tabindex="2">
                              <option value="<%= paises.nombre %>"> <%= paises.nombre %> </option>      
                                                    
                            </select>
                          </div> 

                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/arbitros" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>