<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
    <title>Editar Árbitro</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu' ></i>
      </div>
      <% if (arbitro) { %>
        
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Árbitro</div>
                <div class="card-body">
                    <form action="/updateArbitro" method="POST">
                         <input id="codArbitro" hidden name="codArbitro" value="<%= arbitro.codArbitro %>">
                        <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombreArbitro" name="nombreArbitro" tabindex="1" value="<%= arbitro.nombreArbitro  %>">                        
                        </div>   
                        <div class="mb-3">
                            <label for="pais" class="form-label">Código País</label>
                            <select id="pais" name="codPais" class="form-select" aria-label="Default select example" tabindex="2" required>
                              <% paises.forEach((pais)=>{ %>
                                  <option value="<%= pais.codPais %>"><%= pais.nombrePais %></option>
                              <% }) %>
                          </select>
                          </div> 

                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/arbitros" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
    </section>
      <% } %>
      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>