<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
    <title>Editar Confederación</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu' ></i>
      </div>
      <% if (conf) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Confederación</div>
                <div class="card-body">
                    <form action="/updateConfederacion" method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" hidden id="siglasConf" name="siglasConf" tabindex="1" value="<%= conf.siglasConf  %>"> 
                          <label for="nombre" class="form-label">Nombre de Confederación</label>
                          <input type="text" class="form-control" id="nombreConf" name="nombreConf" tabindex="1" value="<%= conf.nombreConf  %>">                        
                        </div> 
                      <div class="mb-3">
                        <label for="continente" class="form-label">Continente</label>
                        <select id="continente" name="continente" class="form-select" tabindex="2">
                          <option <%= conf.continente=='América' ? "selected" : '' %> value="América">América</option>
                          <option <%= conf.continente=='África' ? "selected" : '' %> value="África">África</option>      
                          <option <%= conf.continente=='Europa' ? "selected" : '' %> value="Europa">Europa</option>
                          <option <%= conf.continente=='Oceanía' ? "selected" : '' %> value="Oceanía">Oceanía</option> 
                          <option <%= conf.continente=='Asia' ? "selected" : '' %> value="Asia">Asia</option>                      
                        </select>   
                    </div> 
                        <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/confederaciones" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
    </section>
    <section class="home-section">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 mx-auto">
                  <div id="mensajes">
                      <p id="mensaje"></p>
                      <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
                  </div>
              </div>
          </div>
      </div>
  </section>
      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>