<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>Editar Hospedaje</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <% if (hospedaje) { %>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Hospedaje</div>
                <div class="card-body">
                    <form action="/updateHospedaje" method="POST">

                        <input type="hidden" hidden class="form-control" id="id" name="id" tabindex="1" value="<%= hospedaje.id %>">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Hotel a hospedar el equipo</label>
                            <input type="text" class="form-control" id="nombreHotel" name="nombreHotel" tabindex="1" value="<%= hospedaje.nombreHotel %>">
                        </div>
                        
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Equipo a hospedar en el hotel</label>
                            <input id="nombre" name="nombreEquipo" class="form-control" tabindex="1" required value="<%= hospedaje.nombreEquipo %>" />
                            
                        </div>
                        <div class="mb-3">
                            <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
                            <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" tabindex="1" value="<%= hospedaje.fecha_inicio %>">
                        </div> 
                        <div class="mb-3">
                            <label for="fecha_fin" class="form-label">Fecha Cierre</label>
                            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" tabindex="1" value="<%= hospedaje.fecha_fin %>">
                        </div> 
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/hospedaje" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <% } %>
      <%- include('partials/scripts.ejs') %>
</body>
</html>