<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Editar Equipo</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <% if (equipo) { %>
        <div class="container mt-4">          
            <div class="card border-secondary">  
                  <div class="card-header">Editar Equipo</div>
                  <div class="card-body">
                      <form action="/updateEquipo" method="POST">
                           <input id="codigo" name="<%= equipo.codigo  %>" value="<%= equipo.codigo %>" hidden>
                          <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre Equipo</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1" value="<%= equipo.nombre %>">                        
                          </div>   
                          <div class="mb-3">
                            <label for="nombre" class="form-label">Eslogan</label>
                            <input type="text" class="form-control" id="eslogan" name="eslogan" tabindex="1" value="<%= equipo.eslogan %>">                        
                          </div>  
                          <div class="mb-3">
                            <label for="nombre" class="form-label">Director Técnico</label>
                            <input type="text" class="form-control" id="directorT" name="directorT" tabindex="1" value="<%= equipo.directorT %>">                        
                          </div>  
  
                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                          <a href="/" class="btn btn-secondary">Cancelar</a>
                      </form>      
                  </div>
              </div>     
        </div>
      <% } %>
      <%- include('partials/scripts.ejs') %>

</body>
</html>