

<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
    <title>Editar</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
        </div>

      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Partido</div>
                <div class="card-body">
                    <form action="/updatePartido" method="POST">
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha del partido</label>
                            <input required type="datetime-local" class="form-control" id="fecha" name="fecha" value="<%= fecha %>" tabindex="1">
                        </div>

                    <label for="codEstadio" class="form-label">Seleccione estadio</label>
                    <select id="codEstadio" name="codEstadio" class="form-select" aria-label="Default select example"  tabindex="2" required>
                        <option selected value="Selecciona un estadio" disabled>Selecciona un estadio</option>
                        <% estadios.forEach((estadio)=>{ %>
                            <option value="<%= estadio.codEstadio %>"><%= estadio.codEstadio %> - <%= estadio.nombreEstadio %></option>
                        <% }) %>
                    </select>
                    <label for="codEquipo1" class="form-label">Nombre de Equipo 1</label>
                    <select id="codEquipo1" name="codEquipo1" class="form-select" aria-label="Default select example" tabindex="2" required>
                        <% equipos.forEach((equipo)=>{ %>
                            <option value="<%= equipo.codEquipo %>"><%= equipo.codEquipo %> - <% paises.forEach((pais)=>{ %>
                                <% if (equipo.codEquipo == pais.codPais) { %>
                                    <%= pais.nombrePais %>
                                <% } %>
                           <% }) %> </option>
                        <% }) %>
                    </select>
                    <label for="codEquipo2" class="form-label">Nombre de Equipo 2</label>
                    <select id="codEquipo2" name="codEquipo2" class="form-select" aria-label="Default select example" tabindex="2" required selected="">
                        <% equipos.forEach((equipo)=>{ %>
                            <option value="<%= equipo.codEquipo %>"><%= equipo.codEquipo %> - <% paises.forEach((pais)=>{ %>
                                <% if (equipo.codEquipo == pais.codPais) { %>
                                    <%= pais.nombrePais %>
                                <% } %>
                           <% }) %> </option>
                        <% }) %>
                    </select>
                    <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/partidos" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
    </section>

     <button id="submit-btn" type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/arbitros" class="btn btn-secondary">Cancelar</a>
                </form>

                <section class="home-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 mx-auto">
                                <div id="mensajes">
                                    <p id="mensaje"></p>
                                    <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

      <%- include('partials/scripts.ejs') %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>