<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Hospedaje</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>

   <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Alojamiento
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <a href="/crearHospedaje" class="btn btn-outline-primary fs-2 btn-block"> Agregar <i class='bx bxs-plus-circle'></i></a> 
        </div> 
        <div class="col-xs-12 mt-3">
          <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">ID</th>
        <th scope="col">Código Hotel</th>            
        <th scope="col">Nombre Hotel</th>            
        <th scope="col">Código Equipo</th>    
        <th scope="col">Nombre Equipo</th>    
        <th scope="col">Fecha Inicio</th>           
        <th scope="col">Fecha Cierre</th>           
        <th scope="col">Acciones</th>           
      </tr>
    </thead>
    <tbody>
      <% alojamientos.forEach((hospedaje)=>{ %>
        <tr>  
            <td><%= hospedaje.id %></td>
            <td><%= hospedaje.id_hotel %></td>
            <td><%= hospedaje.nombreHotel %></td>
            <td><%= hospedaje.id_equipo %></td>
            <td><%= hospedaje.nombreEquipo %></td>
            <td><%= hospedaje.fecha_inicio %></td>
            <td><%= hospedaje.fecha_fin %></td>
            <td>
              <a href="/editarHospedaje/<%= hospedaje.id %>" class="btn btn-outline-info"><i class='bx bxs-pencil fs-5'></i></a>
              <a onclick="confirmar('<%= hospedaje.id %>','deleteHospedaje')" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
</div>
</div>
</div>
</section> 

<section class="home-section">
<div class="container">
<div class="row">
<div class="col-xs-12 mx-auto">
  Cuida tu ambiente
</div>
</div>
</div>
</section>


  <%- include('partials/scripts.ejs') %>
</body>
</html>