<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Hospedaje</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>

  <div class="container ">    
    <div class="row">
      <div class="col-md-5 offset-md-10 mb-3">
        
    <a href="/crearHospedaje" class="btn btn-outline-primary mt-4 fs-2"> Agregar Hospedaje <i class="fas fa-plus-circle"></i></a>  
    </div>  </div>  
  <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">ID</th>
        <th scope="col">Código Hotel</th>            
        <th scope="col">Código Equipo</th>    
        <th scope="col">Nombre Equipo</th>    
        <th scope="col">Fecha Inicio</th>           
        <th scope="col">Fecha Cierre</th>           
        <th scope="col">Acciones</th>           
      </tr>
    </thead>
    <tbody>
    <% equipos.forEach((equipo)=>{ %>
      <% alojamientos.forEach((hospedaje)=>{ %>
        <tr>  
            <td><%= hospedaje.id %></td>
            <td><%= hospedaje.id_hotel %></td>
            <td><%= hospedaje.id_equipo %></td>
            <td><%= equipo.nombre %></td>
            <td><%= hospedaje.fecha_inicio %></td>
            <td><%= hospedaje.fecha_fin %></td>
            <td>
              <a href="/editarHospedaje/<%= hospedaje.id %>" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i></a>
              <a onclick="confirmar('<%= hospedaje.id %>','deleteHospedaje')" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>                                   
     <% }) %>
     <% }) %>
    </tbody>
  </table>
  </div>


  <%- include('partials/scripts.ejs') %>
</body>
</html>