<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <title>crud</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <div class="container">    
    <a href="/create" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i></a>    
  <table class="table table-bordered table-striped text-center mt-4">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">Código Hotel</th>
        <th scope="col">Nombre</th>            
        <th scope="col">Dirección</th>
        <th scope="col">Acciones</th>            
      </tr>
    </thead>
    <tbody>
      <!-- TODO CREAR HOTEL-->
      <% results.forEach((user)=>{ %>
        <tr>  
            <td><%= user.codHotel %></td>  
            <td><%= user.nombre %></td>
            <td><%= user.direccion %></td>
            <td>
              <a href="/edit/<%= user.id %>" class="btn btn-outline-info"><i class='bx bxs-pencil'></i></a>
              <a href="/delete/<%= user.id %>" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a>                   
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
  </div>
  
  <%- include('partials/js/scripts.ejs') %>

</body>
</html>

