<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Hotel</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <div class="container ">    
    <div class="row">
      <div class="col-md-5 offset-md-10 mb-3">
        
    <a href="/crearHotel" class="btn btn-outline-primary mt-4 fs-2"> Agregar <i class="fas fa-plus-circle"></i></a>  
    </div>  </div>  
  <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>            
        <th scope="col">Dirección</th>    
        <th scope="col">Acciones</th>           
      </tr>
    </thead>
    <tbody>
      <% resultados.forEach((hotel)=>{ %>
        <tr>  
            <td><%= hotel.codHotel %></td>
            <td><%= hotel.nombre %></td>
            <td><%= hotel.direccion %></td>
            <td>
              <a href="/editarHotel/<%= hotel.id %>" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i></a>
              <a onclick="confirmar('<%= hotel.id %>','deleteHotel')" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
  </div>


  


  <%- include('partials/scripts.ejs') %>
</body>
</html>