<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
    <title>Jugadores</title>
</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Jugadores
    </div>
    <div class="container">
      <div class="row">
        <div class="">
          <a href="/crearJugador" class="btn btn-outline-primary fs-2 btn-block"> Agregar <i class='bx bxs-plus-circle'></i></a> 
        </div> 
        <div class="col-xs-12 mt-3">
          <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">Nombre</th>            
        <th scope="col">Alias</th>    
        <th scope="col">Fecha de Nacimiento</th>           
        <th scope="col">Posición</th>           
        <th scope="col">Nro Camisa</th>           
        <th scope="col">Código Equipo</th>           
        <th scope="col">Equipo</th>           
        <th scope="col">Acciones</th>           
      </tr>
    </thead>
    <tbody>
      <% resultados.forEach((jugador)=>{ %>
        <tr>  
            <td><%= jugador.nombre %></td>
            <td><%= jugador.alias %></td>
            <td><%= jugador.fecha_nacimiento %></td>
            <td><%= jugador.posicion %></td>
            <td><%= jugador.num_camiseta %></td>
            <td><%= jugador.equipo_id %></td>
            <td><%= jugador.nombreEquipo %></td>
            <td>
              <a href="/editarJugador/<%= jugador.codJugador %>" class="btn btn-outline-info"><i class='bx bxs-pencil fs-5'></i></a>
              <a onclick="confirmar('<%= jugador.codJugador %>','deleteJugador')" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
</div>
</div>
</div>
</section> 

<section class="home-section">
<div class="container">
<div class="row">
<div class="col-xs-12 mx-auto">
  <div id="mensajes">
  <p id="mensaje"></p>
  <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
</div>
</div>
</div>
</div>
</section>

  <%- include('partials/scripts.ejs') %>

</body>
</html>