<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>

</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <div class="container ">    
    <div class="row">
      <div class="col-md-5 offset-md-10 mb-3">
        
    <a href="/crearPartido" class="btn btn-outline-primary mt-4 fs-2"> Agregar <i class="fas fa-plus-circle"></i></a>  
    </div>  </div>  
  <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
    <thead>
      <tr class="bg-primary text-white">
        <th scope="col">codPartida</th>
        <th scope="col">fecha</th>
        <th scope="col">estadio</th>            
        <th scope="col">Equipo 1</th>
        <th scope="col">Equipo 2</th>    
      </tr>
    </thead>
    <tbody>
      <% partidos.forEach((partido)=>{ %>
        <tr>  
            <td><%= partido.codPartido %></td>  
            <td><%= partido.fecha %></td>
            <td><%= partido.codEstadio %></td>
            <td></td>
            <td>
              <a href="/editarPartido/<%= partido.codPartido %>" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i></a>
              <a href="/deletePartido/<%= partido.codPartido %>" onclick="confirmar('<%= partido.codPartido %>','deletePartido')" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>                                   
     <% }) %>
    </tbody>
  </table>
  </div>

  <%- include('partials/scripts.ejs') %>
</body>
</html>