<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>

</head>
<body>
   <%- include('partials/navigation.ejs') %>
   <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      >>> Partidos
    </div>
      <div class="container ">    
        <div class="row">
          <div class="col-md-5 offset-md-10 mb-3">
            
        <a href="/crearPartido" class="btn btn-outline-primary mt-4 fs-2"> Agregar <i class="fas fa-plus-circle"></i></a>  
        </div>  </div>  
      <table class="table table-bordered table-striped text-center mt-4" id="miTabla">
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">Código Partido</th>
            <th scope="col">Fecha</th>            
            <th scope="col">Código Estadio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% partidos.forEach((partido)=>{ %>
            <tr>  
                <td><%= partido.codPartido %></td>  
                <td><%= partido.fecha %></td>
                <td><%= partido.codEstadio %></td>
                <td>
                  <a href="/editarPartido/<%= partido.codPartido %>" class="btn btn-outline-info"><i class='bx bxs-pencil fs-5'></i></a>
                  <a onclick="confirmar('<%= partido.codPartido %>','deletePartido')" class="btn btn-outline-danger"><i class='bx bxs-trash'></i></a>
                </td>
            </tr>                                   
        <% }) %>
        </tbody>
      </table>
      </div>
   </section>

  <%- include('partials/scripts.ejs') %>
</body>
</html>